@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <article class="content px-4 " style="background-color:#e6e6ef">
            @Body
        </article>
    </main>
</div>
